/* css styles */

body {
  font-family: "SFMono-Regular", Roboto, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12pt; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SFMono-Regular', sans-serif; /* Apply to headings */
  font-weight: 700; /* Example: make headings bold */
}

/* Example for specific elements */
.special-text {
  font-family: 'Google Sans', sans-serif;
  font-style: italic;
}

p {
    font-family: 'Google Sans', sans-serif;
}
.listing-title {
  font-size: 1.2em; /* Adjust this value as needed (e.g., 1.5em, 1em, smaller values) */
}